<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control</title>
</head>
<style>
    body {
        background-color: rgb(26, 26, 26);
        color: rgb(218, 218, 218);
    }

    /* #list {
            overflow: auto;
            white-space: nowrap;
        } */
    /* #list div {
            display: inline-block;
        } */
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<%- include(process.cwd() + '/assets/dropdown.ejs' ) %>

    <body>
        <h1 class="w3-center">Welcome Admin! <i class="fa fa-gears"></i></h1>
        <h3>Website maintenance mode:</h3>
        <label class="switch">
            <input id="maintenanceCheck" type="checkbox">
            <span class="slider round"></span>
        </label>
        <br>
        <br>
        <div class="w3-green w3-block" style="height: 2px;"></div>
        <h3>Send Notification: </h3>
        <div id="sendnotif">
            <input type="text" class="w3-input w3-gray" id="notif" name="notif" style="width: 30vw;">
            <button class="w3-button w3-red w3-circle" onclick="sendnotif()">Send!</button>
        </div>
        <br>
        <br>
        <div class="w3-green w3-block" style="height: 2px;"></div>
        <h3>Denny download:</h3>
        <label class="switch">
            <input id="dennyDownload" type="checkbox">
            <span class="slider round"></span>
        </label>
        <br>
        <br>
        <div class="w3-green w3-block" style="height: 2px;"></div>
        <h3>Download Statistics</h3>
        Download dir size: <%= downloadDirSize %> MB<br>
        Download file length: <%= downloadFileLength %> 
        <br>
        <br>
        <div class="w3-green w3-block" style="height: 2px;"></div>
        <h3>System uptime:</h3>
        <%= new Date(process.uptime() * 1000).toISOString().slice(11, 19) %> 
        <br>
        <br>
        <div class="w3-green w3-block" style="height: 2px;"></div>
        <h3>Log:</h3>
        <a class="w3-button w3-blue" href="/admin/log">Get log</a>
    </body>
    <script>
        const isMaintenance = '<%= isMaintenance %>' == 'true';
        const maintenanceCheck = document.getElementById('maintenanceCheck');
        if (isMaintenance) maintenanceCheck.checked = true;
        maintenanceCheck.onchange = async () => {
            await axios.post('/admin/setmaintenance', { m: maintenanceCheck.checked }, { withCredentials: true })
        }

        const isDownloadDenied = '<%= deniedDownload %>' == 'true';
        const dennyDownload = document.getElementById('dennyDownload');
        if (isDownloadDenied) dennyDownload.checked = true;
        dennyDownload.onchange = async () => {
            await axios.post('/admin/setdennydownload', { m: dennyDownload.checked }, { withCredentials: true })
        }

        async function sendnotif() {
            const text = document.getElementById('notif');
            if (text.value == '') return alert('Masukkan text');;
            const res = await axios.post('/admin/sendnotif', { text: text.value }, {withCredentials: true}).catch(e => {
                alert('Terjadi error, coba refresh halaman ini!');
            })
            if(res) {
                text.value = '';
                alert('Terkirim!')
            };
        }
    </script>

</html>